<%= stylesheet_link_tag("") %>
<div>
    <h1>logged in menu</h1>
    <p>logged in as <%= current_user.name %></p>
</div>

<%= form_tag('/play') do %>

    <h2 class="homemenu">1. 目的地を決めてください</h2>

    <input type="text" placeholder="現在地" id="start">
    <input type="text" placeholder="経由地" id="waypoint">
    <input type="text" placeholder="目的地" id="end">
    <input type="button" value="検索" id="button">

    <div id="style-selector-control" class="map-control">
        <input type="radio" name="show-hide" id="hide-poi" class="selector-control">
        <label for="hide-poi">Hide</label>
        <input type="radio" name="show-hide" id="show-poi" class="selector-control" checked="checked">
        <label for="show-poi">Show</label>
    </div>
    <!--
        <div id="right-panel"></div>
    -->
    <div id="map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address"></span>
    </div>
    <div id="directions-panel"></div>

    <input type="hidden" name="distance" value="0.0" id="distance">

    <%= javascript_include_tag 'style.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'maps.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dropdown_fix.js', 'data-turbolinks-track': 'reload' %>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCQhxjnRfnXNtqTYOkhebzXSPtc5KQnY&libraries=places&callback=initMap"></script>
    <script type="app/assets/javascripts" src=“timedropper.js></script>
    <script type="app/assets/stylesheets" src=“timedropper.css></script>

    <div>
        <h2 class="homemenu">2. 目標時刻を決めてください</h2>
        <% time = Time.now %>
        <% str = time.strftime("%H:%M")%>
        <ul>
            <li>
                <%= "現在時刻：#{str}" %>
            </li>
            <li>
                <input name="time" type="text" id="timeSection" />
                <script>$( "#timeSection" ).timeDropper();</script>
            </li>
        </ul>

        <h2 class="homemenu">3. プレイリストを決めてください</h2>
        <input type="hidden" id="playlist_id_form" name="playlist_id">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" id="playlist_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">項目を選択してください</button>
            <ul class="dropdown-menu">
                <% @playlists.each do |pl| %>
                    <li><button class="dropdown-item" value="<%= pl.id %>"><%= pl.name %></button></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="btn_container">
        <input type="submit" value"送信する" class="btn btn-primary btn-lg'">
    </div>
<% end %>
