<%= form_tag('/play') do %>

    <div class="tray">
    <h2 class="homemenu">1. 目的地を決めてください</h2>

    <input type="text" placeholder="現在地" id="start">
    <input type="text" placeholder="経由地" id="waypoint">
    <input type="text" placeholder="目的地" id="end">
    <input type="button" value="検索" id="button">

    <div id="style-selector-control" class="map-control">
        <input type="radio" name="show-hide" id="hide-poi" class="selector-control">
        <label for="hide-poi">Hide</label>
        <input type="radio" name="show-hide" id="show-poi" class="selector-control" checked="checked">
        <label for="show-poi">Show</label>
    </div>
    <!--
        <div id="right-panel"></div>
    -->
    <div id="map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address"></span>
    </div>
    <div id="directions-panel"></div>

    <input type="hidden" name="distance" value="0.0" id="distance">
    <input type="hidden" name="end_" value="0.0" id="end_">
    </div>

    <div class="tray">
        <h2>2. 目標時刻を決めてください</h2>
        <script>
        var time1 = new Date();
        var hour=time1.getHours();
        var minute=time1.getMinutes();
        if (minute>=0 && minute<=9) {minute = "0"+str(minute);}
        //document.write(typeof(minute))
        </script>
        <ul>
            <li>
                <div id="nowtime"></div>
                <script>
                    $("#nowtime").text("現在時刻 " + hour + ":" + minute);
                </script>
            </li>
            <li>
               <%= "目標時刻" %>
               <input name="time" type="text" id="timeSection" />
               <script>$( "#timeSection" ).timeDropper({meridians: false, format: "a hh:mm"});</script>
            </li>
        </ul>
      
        <script>
            function hyoji() {
                var time2 = document.getElementById("timeSection");
                var time2_str = time2.value;
                //document.write(time2_str);
                //document.write(typeof time2_str);
                //document.write(time2_str.substr(4, 2));
                //document.write(time2_str.substr(6, 2));
                //document.write(time2_str.substring(0, 2));
                var ampm = time2_str.substr(0, 2);
                var hour2 = Number(time2_str.substr(3, 2));
                var minute2 = Number(time2_str.substr(6, 2));
                if (ampm == "pm") {hour2 = hour2 + 12;}
                if (ampm =="am" && hour2 == 12) {hour2 = hour2 - 12;}
                //document.write(typeof(hour2))
                $("#time").text("所要時間 " + (hour2 - hour) + "時間" + (minute2 - minute) + "分");
            }
            function startfunc() {
                setInterval("hyoji()", 1000);
            }
            startfunc();
        </script>
        
       // <script>
       // function addValue(){
       //     var idname = "timeSection";
       //     s = document.getElementById(idname).value;
       //     var pvname = idname + "pv";
       //     document.getElementById(pvname).innerHTML = s;
       // }
       // </script>
        <!-- <input name="title" type="text" id="timeSection" onKeyUp="addValue()" /> -->
        <!-- <script>$( "#timeSection" ).timeDropper({meridians: false, format: "a hh:mm"});</script> -->
        <!-- <div id="timeSectionpv"></div> -->

        <div id="time"></div>
    </div>

    <div class="tray">
        <h2 class="homemenu">3. プレイリストを決めてください</h2>
        <input type="hidden" id="playlist_id_form" name="playlist_id">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" id="playlist_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">選択してください...</button>
            <ul class="dropdown-menu">
                <% @playlists.each do |pl| %>
                    <li><button class="dropdown-item" value="<%= pl.id %>"><%= pl.name %></button></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="btn_container">
        <input type="submit" value"送信する" class="btn btn-primary btn-lg'">
    </div>

    <% content_for :javascripts do %>
        <%= javascript_include_tag 'style.js', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'maps.js', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'dropdown_fix.js', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'timedropper.js', 'data-turbolinks-track': 'reload' %>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCQhxjnRfnXNtqTYOkhebzXSPtc5KQnY&libraries=places&callback=initMap"></script>
    <% end %>

    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag "timedropper.css", media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
<% end %>
