<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map[:key] %>&libraries=places&callback=initMap"></script>
<script type="app/assets/javascripts" src=“timedropper.js></script>
<script type="app/assets/stylesheets" src=“timedropper.css></script>

<div>
    <input type="hidden" id="bpm" value="<%= params[:bpm] %>">
</div>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'nextmusic.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'player.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'player_maps.js', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="map" class="d-none"></div>

<div id="effect_div" class="effect_div">
  <canvas id="effect_canvas" width="400" height="400"></canvas>
  <div class="btn_container">
        <%= link_to '停止', '/stop', class: 'btn btn-primary btn-lg' %>

        <%= form_tag('/play', id: 'next_music') do %>
            <input type="hidden" name="lat" id="lat">
            <input type="hidden" name="lng" id="lng">
            <input type="hidden" name="start_pos" id="start_pos">
            <input type="hidden" name="end_pos" id="end_pos">

            <input type="hidden" name="distance" value="0.0" id="distance">
            <input type="hidden" name="end_" id="end_" value="<%= current_user.end %>">
            <input type="hidden" name="playlist_id" id="playlist_id" value="<%= current_user.recent_playlist %>">
            <input type="hidden" name="time" id="time" value="<%= current_user.time %>">
            <input type="submit" value="曲送り" class="btn btn-primary btn-lg mt-2">
        <% end %>
  </div>
</div>
