<!DOCTYPE html>
<html>
  <head>
    <title>FrSpotifyTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div>logged in as <%= current_user.name %>.</div>
    <% else %>
      <div>not logged in.</div>
    <% end %>
    <%= yield %>
  </body>
</html>
